.vscode/launch.json
.vscode/tasks.json
UnderdogLib/obj/project.assets.json
UnderdogLib/obj/project.nuget.cache
UnderdogLib/obj/UnderdogLib.csproj.nuget.dgspec.json
UnderdogLib/obj/UnderdogLib.csproj.nuget.g.props
UnderdogLib/obj/UnderdogLib.csproj.nuget.g.targets
UnderdogLib/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
UnderdogLib/obj/Debug/net7.0/UnderdogLib.AssemblyInfo.cs
UnderdogLib/obj/Debug/net7.0/UnderdogLib.AssemblyInfoInputs.cache
UnderdogLib/obj/Debug/net7.0/UnderdogLib.assets.cache
UnderdogLib/obj/Debug/net7.0/UnderdogLib.csproj.AssemblyReference.cache
UnderdogLib/obj/Debug/net7.0/UnderdogLib.csproj.CoreCompileInputs.cache
UnderdogLib/obj/Debug/net7.0/UnderdogLib.csproj.FileListAbsolute.txt
UnderdogLib/obj/Debug/net7.0/UnderdogLib.dll
UnderdogLib/obj/Debug/net7.0/UnderdogLib.GeneratedMSBuildEditorConfig.editorconfig
UnderdogLib/obj/Debug/net7.0/UnderdogLib.GlobalUsings.g.cs
UnderdogLib/obj/Debug/net7.0/UnderdogLib.pdb
UnderdogLib/obj/Debug/net7.0/ref/UnderdogLib.dll
UnderdogLib/obj/Debug/net7.0/refint/UnderdogLib.dll
UnderdogLib/bin/Debug/net7.0/UnderdogLib.deps.json
UnderdogLib/bin/Debug/net7.0/UnderdogLib.dll
UnderdogLib/bin/Debug/net7.0/UnderdogLib.pdb
UnderdogTests/bin/Debug/net7.0/CoverletSourceRootsMapping
UnderdogTests/bin/Debug/net7.0/Microsoft.TestPlatform.CommunicationUtilities.dll
UnderdogTests/bin/Debug/net7.0/Microsoft.TestPlatform.CoreUtilities.dll
UnderdogTests/bin/Debug/net7.0/Microsoft.TestPlatform.CrossPlatEngine.dll
UnderdogTests/bin/Debug/net7.0/Microsoft.TestPlatform.PlatformAbstractions.dll
UnderdogTests/bin/Debug/net7.0/Microsoft.TestPlatform.Utilities.dll
UnderdogTests/bin/Debug/net7.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
UnderdogTests/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.Common.dll
UnderdogTests/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
UnderdogTests/bin/Debug/net7.0/Newtonsoft.Json.dll
UnderdogTests/bin/Debug/net7.0/NuGet.Frameworks.dll
UnderdogTests/bin/Debug/net7.0/testhost.dll
UnderdogTests/bin/Debug/net7.0/UnderdogLib.dll
UnderdogTests/bin/Debug/net7.0/UnderdogLib.pdb
UnderdogTests/bin/Debug/net7.0/UnderdogTests.deps.json
UnderdogTests/bin/Debug/net7.0/UnderdogTests.dll
UnderdogTests/bin/Debug/net7.0/UnderdogTests.pdb
UnderdogTests/bin/Debug/net7.0/UnderdogTests.runtimeconfig.json
UnderdogTests/bin/Debug/net7.0/xunit.abstractions.dll
UnderdogTests/bin/Debug/net7.0/xunit.assert.dll
UnderdogTests/bin/Debug/net7.0/xunit.core.dll
UnderdogTests/bin/Debug/net7.0/xunit.execution.dotnet.dll
UnderdogTests/bin/Debug/net7.0/xunit.runner.reporters.netcoreapp10.dll
UnderdogTests/bin/Debug/net7.0/xunit.runner.utility.netcoreapp10.dll
UnderdogTests/bin/Debug/net7.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
UnderdogTests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnderdogTests/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnderdogTests/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnderdogTests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnderdogTests/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnderdogTests/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnderdogTests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnderdogTests/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnderdogTests/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnderdogTests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnderdogTests/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnderdogTests/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnderdogTests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnderdogTests/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnderdogTests/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnderdogTests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnderdogTests/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnderdogTests/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnderdogTests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnderdogTests/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnderdogTests/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnderdogTests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnderdogTests/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnderdogTests/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnderdogTests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnderdogTests/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnderdogTests/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnderdogTests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnderdogTests/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnderdogTests/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnderdogTests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnderdogTests/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnderdogTests/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnderdogTests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnderdogTests/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnderdogTests/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnderdogTests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnderdogTests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnderdogTests/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnderdogTests/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnderdogTests/obj/project.assets.json
UnderdogTests/obj/project.nuget.cache
UnderdogTests/obj/UnderdogTests.csproj.nuget.dgspec.json
UnderdogTests/obj/UnderdogTests.csproj.nuget.g.props
UnderdogTests/obj/UnderdogTests.csproj.nuget.g.targets
UnderdogTests/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
UnderdogTests/obj/Debug/net7.0/UnderdogTests.AssemblyInfo.cs
UnderdogTests/obj/Debug/net7.0/UnderdogTests.AssemblyInfoInputs.cache
UnderdogTests/obj/Debug/net7.0/UnderdogTests.assets.cache
UnderdogTests/obj/Debug/net7.0/UnderdogTests.csproj.AssemblyReference.cache
UnderdogTests/obj/Debug/net7.0/UnderdogTests.csproj.CopyComplete
UnderdogTests/obj/Debug/net7.0/UnderdogTests.csproj.CoreCompileInputs.cache
UnderdogTests/obj/Debug/net7.0/UnderdogTests.csproj.FileListAbsolute.txt
UnderdogTests/obj/Debug/net7.0/UnderdogTests.dll
UnderdogTests/obj/Debug/net7.0/UnderdogTests.GeneratedMSBuildEditorConfig.editorconfig
UnderdogTests/obj/Debug/net7.0/UnderdogTests.genruntimeconfig.cache
UnderdogTests/obj/Debug/net7.0/UnderdogTests.GlobalUsings.g.cs
UnderdogTests/obj/Debug/net7.0/UnderdogTests.pdb
UnderdogTests/obj/Debug/net7.0/ref/UnderdogTests.dll
UnderdogTests/obj/Debug/net7.0/refint/UnderdogTests.dll
